// vars
$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$font-size-base: 24px;
$line-height-base: 1.2;
$font-family-base: 'Roboto Slab', serif;

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

h1,
h2,
p {
    opacity: 0;

    .wf-active & {
        opacity: 1;
    }
}

// typography
h1,
h2 {
    font-size: $font-size-base;
    font-weight: 400;
    color: $brand-danger;
}

// content
body {
    background-color: $gray-lighter;
    color: $gray-dark;
    box-shadow: inset 0 0 50px rgba($gray-light,.5);
    opacity: 0;
    animation: fade .5s .2s ease-in forwards;
}

.clients a {
    color: $gray-dark;

    &:hover {
        color: lighten($gray-dark, 15%);
    }
}

// mqs
@media screen and (min-width: $screen-sm-min) {

    body,
    h1,
    h2 {
        font-size: 32px;
    }

    body {
        padding: 20px;
    }

}

@media screen and (min-width: $screen-md-min) {

    body,
    h1,
    h2 {
        font-size: 40px;
    }

}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
