$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$font-size-base: 28px;
$line-height-base: 1.1;

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

h1,
h2 {
    font-size: $font-size-base;
    color: $brand-danger;
}

body {
    background-color: $gray-lighter;
    color: $gray-dark;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: inset 0 0 50px rgba($gray-light,.5);
}

.container-fluid {
    opacity: 0;
    animation: fade .5s .2s ease-in forwards;
}

    .clients a {
        color: $gray-dark;

        &:hover {
            color: lighten($gray-dark, 15%);
        }
    }


@media screen and (min-width: $screen-sm-min) {

    body,
    h1,
    h2 {
        font-size: 36px;
    }

    body {
        padding: 20px;
    }

}

@media screen and (min-width: $screen-md-min) {

    body,
    h1,
    h2 {
        font-size: 44px;
    }

}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
